@model Steep.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (Model.NotificationMessage != null)
{
    <div class="alert alert-success">@Model.NotificationMessage</div>
}

<div class="container">
    <h1>Latest work</h1>
    <div>
        @foreach (var chapter in Model.LatestChapters)
        {
            <div>
                <h1><a href="/chapter/details/@chapter.Identifier">@chapter.Title</a></h1>
                @Html.ActionLink(chapter.Title,
                "Details",
                "Chapter",
                new { id = chapter.Identifier }, 
                null)
                <p>@chapter.Content</p>
                <strong>Authored by: @chapter.Author</strong>
            </div>
        }
    </div
</div>