@model Steep.Web.ViewModels.Chapter.AddChapterViewModel
@{
    ViewBag.Title = "Add";
}


<div class="container">
    <h2>Add</h2>
    <div>
        <section id="loginForm">
            @using (Html.BeginForm("Add", "Chapter", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Add a new chapter</h4>
                <hr />
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Title, new { @class = "form-control col-md-5" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ExtendedStory, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @(Html.Kendo()
                              .DropDownListFor(x => x.ExtendedStoryId)
                              .BindTo(Model.ExtendedStory)
                              .DataTextField("Text")
                              .DataValueField("Value"))
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PreviousChapterSelect, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @(Html.Kendo()
                              .DropDownListFor(x => x.PreviousChapterSelectId)
                              .BindTo(Model.PreviousChapterSelect)
                              .DataTextField("Text")
                              .DataValueField("Value"))
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10 k-content">
                        @(Html.Kendo()
                              .EditorFor(m => m.Content))
                    </div>
                </div>
                <div id="create-story-button" class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add chapter" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
