@using Microsoft.AspNet.Identity;
@model Steep.Web.ViewModels.Chapter.ChapterDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>From story: @Model.SingleChapterViewModel.First().StoryName <a href="/story/details/@Model.SingleChapterViewModel.First().StoryUrl">[Read more]</a></h3>
<div>
    @Html.Partial("~/Views/Statistics/_ChapterStatistics.cshtml", Model.StatisticsChapterViewModel)
</div>
<br/>
@foreach (var chapter in Model.SingleChapterViewModel)
{
    <div>
        <h1>@chapter.Title</h1>
        <p>@Html.Raw(chapter.Content)</p>
        <strong>By: @chapter.Author</strong>
        <div>On: @chapter.CreatedOn</div>
    </div>
}

<div class="container">
    <div>
        @Html.EditorFor(x => x.AddCommentViewModel.Content)
        <div>
            <input type="submit" value="Post comment" id="post-comment" />
        </div>
    </div>
    <br />

    @Html.Partial("~/Views/Comment/_ChapterComments.cshtml", Model.Comments)
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#post-comment').on('click', function () {
                $.ajax({
                    url: "@(Url.Action("Add", "Comment"))",
                    type: "POST",
                    cache: false,
                    async: true,
                    data: {
                        Content: $('#AddCommentViewModel_Content').val(),
                        AuthorId: '@this.User.Identity.GetUserId()',
                        ChapterId: '@Model.ChapterId'
                    },
                    success: function (result) {
                        console.log(result);
                    }
                });
            });
        });
    </script>
}