@using Microsoft.AspNet.Identity;
@model Steep.Web.ViewModels.Chapter.ChapterDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <h1>@Model.Title</h1>
    <h3>From story: @Model.StoryName <a href="/story/details/@Model.StoryUrl">[Read more]</a></h3>
    <p>@Html.Raw(Model.Content)</p>
    <strong>By: @Model.Author</strong>
    <div>On: @Model.CreatedOn</div>
    <div>
        @Html.EditorFor(x => x.AddCommentViewModel.Content)
        <div>
            <input type="submit" value="Post comment" id="post-comment" />
        </div>
    </div>

    @Html.Partial("~/Views/Statistics/_ChapterStatistics.cshtml", Model.StatisticsChapterViewModel)

    <br />

    @Html.Partial("~/Views/Comment/_ChapterComments.cshtml", Model.Comments)
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#post-comment').on('click', function () {
                $.ajax({
                    url: "@(Url.Action("Add", "Comment"))",
                    type: "POST",
                    cache: false,
                    async: true,
                    data: {
                        Content: $('#AddCommentViewModel_Content').val(),
                        AuthorId: '@this.User.Identity.GetUserId()',
                        ChapterId: '@Model.Id'
                    },
                    success: function (result) {
                        console.log(result);
                    }
                });
            });
        });
    </script>
}